{
  "openapi": "3.0.3",
  "info": {
    "version": "2.2",
    "title": "Dynamic Yield API - Readme Choose",
    "description": "API definitions for all Dynamic Yield public endpoints.",
    "contact": {
      "name": "API Support",
      "email": "apisupport@mastercard.com",
      "url": "https://developer.mastercard.com/support"
    }
  },
  "servers": [
    {
      "url": "https://dy-api.com/v2",
      "description": "US data center"
    },
    {
      "url": "https://direct.dy-api.com/v2",
      "description": "US data center, direct endpoint"
    },
    {
      "url": "https://dy-api.eu/v2",
      "description": "EU data center"
    },
    {
      "url": "https://direct.dy-api.eu/v2",
      "description": "EU data center, direct endpoint"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Experience APIs",
      "description": "Serve user experience and track user interactions."
    },
    {
      "name": "Profile Anywhere",
      "description": "Retrieve user affinity data."
    },
    {
      "name": "User Data API",
      "description": "Update user data."
    },
    {
      "name": "Product Data",
      "description": "Update and monitor product data."
    }
  ],
  "paths": {
    "/serve/user/choose": {
      "summary": "Choose Variations",
      "post": {
        "summary": "Choose Variations",
        "description": "Get the chosen variations for one or more campaigns.<br>If you are not sure which server URL you should use, [see here](https://support.dynamicyield.com/hc/en-us/articles/360017534877-Experience-API-Basics).",
        "operationId": "chooseVariations",
        "tags": [
          "Experience APIs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "title": "Choose Request - E-Commerce",
                    "type": "object",
                    "properties": {
                      "user": {
                        "title": "User",
                        "description": "User ID. A Dynamic Yield-generated identifier is used, and managed via cookies. For a new user, send this object empty.",
                        "type": "object",
                        "properties": {
                          "dyid": {
                            "description": "The _dyid cookie value. The user ID assigned to visitors by Dynamic Yield. For a new user, send this param empty. Learn more about the [user ID](https://dy.dev/docs/experience-api-basics#user-id).",
                            "type": "string"
                          },
                          "dyid_server": {
                            "description": "The _dyid cookie value. The user ID assigned to visitors by Dynamic Yield. For a new user, send this param empty. Learn more about the [user ID](https://dy.dev/docs/experience-api-basics#user-id).",
                            "type": "string"
                          },
                          "active_consent_accepted": {
                            "description": "Add this attribute only if [active cookie consent](https://dy.dev/docs/active-cookie-consent) is enabled. Set to `true` if user gave consent for cookies.",
                            "type": "boolean",
                            "default": false
                          }
                        }
                      },
                      "session": {
                        "title": "Session",
                        "description": "Session ID. A Dynamic Yield-generated identifier is used. For new sessions, send this object empty.",
                        "type": "object",
                        "properties": {
                          "dy": {
                            "description": "Pass the value of the `_dyjsession` cookie if it exists. Otherwise, a new session identifier will be created by Dynamic Yield and returned in the response.",
                            "type": "string"
                          }
                        }
                      },
                      "context": {
                        "title": "Context",
                        "description": "The request's context.",
                        "type": "object",
                        "properties": {
                          "page": {
                            "description": "Data for the page currently being browsed.",
                            "type": "object",
                            "properties": {
                              "type": {
                                "description": "Page type. Must be upper case. Valid values are:<br>`HOMEPAGE`, `CATEGORY`, `PRODUCT`, `CART`, and `OTHER`.",
                                "type": "string",
                                "enum": [
                                  "HOMEPAGE",
                                  "CATEGORY",
                                  "PRODUCT",
                                  "CART",
                                  "OTHER"
                                ],
                                "example": "HOMEPAGE"
                              },
                              "data": {
                                "description": "Additional data for non-homepage pages: The SKU for a `PRODUCT` page, the category for a `CATEGORY` page, SKUs for the `CART` page, and the page ID in `OTHER`. Learn more about [page context data](https://dy.dev/docs/page-context#localization-in-page-context).",
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "example": [
                                  "p76311-020"
                                ]
                              },
                              "location": {
                                "description": "The current location. URL (for web), location (for SPA), or screen name (for mobile apps). Enables targeting the current page/screen.",
                                "type": "string",
                                "example": "https://shop.biz/nice-shirt-p76311.html"
                              },
                              "referrer": {
                                "description": "The previous location. URL (for web), location (for SPA), or screen name (for mobile apps). Enables targeting the previous page/screen.",
                                "type": "string",
                                "example": "https://google.cz"
                              },
                              "locale": {
                                "description": "Page locale code, such as `en_US`. Learn more about [using country codes for locale](https://dy.dev/docs/page-context#localization-in-page-context).",
                                "type": "string",
                                "example": "en_US"
                              }
                            },
                            "required": [
                              "type",
                              "location"
                            ]
                          },
                          "device": {
                            "description": "Data for the served device.",
                            "type": "object",
                            "properties": {
                              "userAgent": {
                                "description": "For web clients, the browser user-agent string. If not passed, the API gateway checks for the header in the HTTPS request.",
                                "type": "string",
                                "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36"
                              },
                              "type": {
                                "description": "Use when the user agent isn't available. Valid values are:<br>`DESKTOP`, `SMARTPHONE`, `TABLET`, `KIOSK`",
                                "type": "string",
                                "enum": [
                                  "DESKTOP",
                                  "SMARTPHONE",
                                  "TABLET",
                                  "KIOSK"
                                ]
                              },
                              "browser": {
                                "description": "Use when the user agent isn't available. Valid values are:<br>`Chrome`, `Firefox`, `Opera`, `Safari`, `Other`",
                                "type": "string",
                                "enum": [
                                  "Chrome",
                                  "Firefox",
                                  "Opera",
                                  "Safari",
                                  "Other"
                                ],
                                "example": "Firefox"
                              },
                              "ip": {
                                "description": "The client IP address, for geolocation-based targeting and audience building. If not passed, the caller IP is used.",
                                "type": "string",
                                "example": "54.100.200.255"
                              },
                              "dateTime": {
                                "description": "Date & time in ISO 8601 format: YYYY-MM-DDThh:mm:ss.sss±hh:mm (with local time zone).",
                                "type": "string",
                                "example": "2024-01-01T22:30:00.000-05:00"
                              }
                            }
                          },
                          "channel": {
                            "description": "Report and monitor each channel’s Experience API implementation. The channel corresponds to the Experience OS app used (`WEB` or `APP`), and the values are available for filtering in the API logs.",
                            "type": "string",
                            "enum": [
                              "WEB",
                              "APP"
                            ]
                          },
                          "pageAttributes": {
                            "description": "Pass key-value pairs you want to use for targeting in this campaign. **The value must exactly match the value in the campaign targeting condition, and is case sensitive.** This data is not stored and cannot be used for creating audiences. Values can be strings or numbers.",
                            "type": "object",
                            "additionalProperties": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "number"
                                }
                              ]
                            }
                          },
                          "listedItems": {
                            "description": "List of SKUs to sort on PLP. Use only for Sorting Optimizer campaigns.",
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "SKU1",
                              "SKU2"
                            ]
                          },
                          "branch": {
                            "description": "The branch where the user experience is taking place.",
                            "type": "object",
                            "properties": {
                              "id": {
                                "description": "The branch's unique identifier.",
                                "type": "string"
                              }
                            },
                            "required": [
                              "id"
                            ]
                          }
                        },
                        "required": [
                          "page",
                          "device"
                        ]
                      },
                      "selector": {
                        "title": "Selector",
                        "description": "Campaigns to choose variations for.",
                        "type": "object",
                        "properties": {
                          "names": {
                            "description": "The list of selectors that are eligible for this page. A selector represents a technical name for a campaign. Learn more about [using selectors in your campaigns](https://dy.dev/docs/choose#recommended-use).",
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "Banner Main",
                              "German Banner",
                              "PDP Recs Tray"
                            ]
                          },
                          "groups": {
                            "description": "Call a group of selectors instead of listing each selector individually. Learn more about working with [selector groups](https://dy.dev/docs/selector-groups).",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "preview": {
                            "description": "Campaigns to generate previews for. [Learn more about enabling preview mode](https://dy.dev/docs/preview-api-web#enabling-preview-mode).",
                            "type": "object",
                            "properties": {
                              "ids": {
                                "description": "Array of preview tokens, as provided in the `dyApiPreview` URL parameter. [Learn more about enabling preview mode](https://dy.dev/docs/preview-api-web#enabling-preview-mode).",
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "required": [
                              "ids"
                            ]
                          },
                          "args": {
                            "description": "Real-time filters for recommendation results, based on data obtained within the session. Learn more about working with [real-time filters](https://dy.dev/docs/return-real-time-filter-data).",
                            "type": "object",
                            "additionalProperties": {
                              "description": "Real-time filter for a single selector. The object key should corresponds to a selector name defined under `selector.names`.",
                              "type": "object",
                              "properties": {
                                "realtimeRules": {
                                  "description": "A list of realtime filtering rules.",
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "description": "Valid values are: `include`, `exclude`.",
                                        "type": "string",
                                        "enum": [
                                          "include",
                                          "exclude"
                                        ]
                                      },
                                      "slots": {
                                        "description": "All or specific slot positions. The first slot is in position 0.",
                                        "type": "array",
                                        "items": {
                                          "type": "integer"
                                        }
                                      },
                                      "query": {
                                        "description": "The filtering query.",
                                        "type": "object",
                                        "properties": {
                                          "conditions": {
                                            "description": "The realtime rule's query conditions.",
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "field": {
                                                  "description": "Field within the returned results to apply the query for.",
                                                  "type": "string",
                                                  "example": "categories"
                                                },
                                                "arguments": {
                                                  "description": "A list of arguments for a query condition.",
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "properties": {
                                                      "action": {
                                                        "description": "Condition types for filtering recommendations. Valid values are:<ul>`IS` - string or boolean<br>`IS_NOT` - string<br>`CONTAINS` - A filtering rule may contain up to 10 queries of this type<br>`EQ`, `GT`, `GTE`, `LT`, `LTE` - number only",
                                                        "type": "string",
                                                        "enum": [
                                                          "IS",
                                                          "IS_NOT",
                                                          "CONTAINS",
                                                          "EQ",
                                                          "GT",
                                                          "GTE",
                                                          "LT",
                                                          "LTE"
                                                        ]
                                                      },
                                                      "value": {
                                                        "description": "Parameter for filter value by condition. Regular expressions are not supported for real-time filters (can and should be added as additional conditions to the filter).",
                                                        "example": "basketball"
                                                      }
                                                    },
                                                    "required": [
                                                      "action",
                                                      "value"
                                                    ]
                                                  }
                                                }
                                              },
                                              "required": [
                                                "field",
                                                "arguments"
                                              ]
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "required": [
                          "names"
                        ]
                      },
                      "options": {
                        "title": "Options",
                        "description": "Request configuration parameters.",
                        "type": "object",
                        "properties": {
                          "isImplicitPageview": {
                            "description": "Determine whether to report a new pageview with the given context. Default is `false`. Set to `true` to report a new pageview with the given context. Keep as `false` if the Dynamic Yield script is implemented on the page. It reports the new pageview from the browser.",
                            "type": "boolean",
                            "default": false
                          },
                          "returnAnalyticsMetadata": {
                            "description": "Set to `true` to return additional metadata (display names & IDs for all entities) for reporting to analytics tools.",
                            "type": "boolean",
                            "default": false
                          },
                          "isImplicitImpressionMode": {
                            "description": "Report an impression of the chosen variation. This is set to `true` by default, which means that the user's impression of the variation is reported immediately when the variation is chosen. Pass this as `false` to report the impression explicitly in an [Engagement](https://dy.dev/docs/engagement#types-of-engagement) call.",
                            "type": "boolean",
                            "default": true
                          },
                          "isImplicitClientData": {
                            "description": "For APIs called from the client-side only. When set to `true`, this acts as a fallback if the IP address or user agent isn't sent explicitly. Takes the values from the request header.",
                            "type": "boolean",
                            "default": false
                          },
                          "recsProductData": {
                            "description": "You can use *either* the `fieldFilter` param to ask for specific attributes from the feed, *or* the `skusOnly` param to to fetch only the SKUs.",
                            "type": "object",
                            "properties": {
                              "fieldFilter": {
                                "description": "Specify the fields you need in the recommendation campaign response by using the `fieldFilter` parameter. Simply send an array of strings of the relevant fields, and only those fields and values are sent back.",
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "skusOnly": {
                                "description": "To reduce the size of the response, you can limit it so that it only includes the SKUs.",
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "user",
                      "session",
                      "context",
                      "selector"
                    ]
                  },
                  {
                    "allOf": [
                      {
                        "title": "Choose Request - Financial Institutions"
                      },
                      {
                        "title": "Choose Request - E-Commerce",
                        "type": "object",
                        "properties": {
                          "user": {
                            "title": "User",
                            "description": "User ID. A Dynamic Yield-generated identifier is used, and managed via cookies. For a new user, send this object empty.",
                            "type": "object",
                            "properties": {
                              "dyid": {
                                "description": "The _dyid cookie value. The user ID assigned to visitors by Dynamic Yield. For a new user, send this param empty. Learn more about the [user ID](https://dy.dev/docs/experience-api-basics#user-id).",
                                "type": "string"
                              },
                              "dyid_server": {
                                "description": "The _dyid cookie value. The user ID assigned to visitors by Dynamic Yield. For a new user, send this param empty. Learn more about the [user ID](https://dy.dev/docs/experience-api-basics#user-id).",
                                "type": "string"
                              },
                              "active_consent_accepted": {
                                "description": "Add this attribute only if [active cookie consent](https://dy.dev/docs/active-cookie-consent) is enabled. Set to `true` if user gave consent for cookies.",
                                "type": "boolean",
                                "default": false
                              }
                            }
                          },
                          "session": {
                            "title": "Session",
                            "description": "Session ID. A Dynamic Yield-generated identifier is used. For new sessions, send this object empty.",
                            "type": "object",
                            "properties": {
                              "dy": {
                                "description": "Pass the value of the `_dyjsession` cookie if it exists. Otherwise, a new session identifier will be created by Dynamic Yield and returned in the response.",
                                "type": "string"
                              }
                            }
                          },
                          "context": {
                            "title": "Context",
                            "description": "The request's context.",
                            "type": "object",
                            "properties": {
                              "page": {
                                "description": "Data for the page currently being browsed.",
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "description": "Page type. Must be upper case. Valid values are:<br>`HOMEPAGE`, `CATEGORY`, `PRODUCT`, `CART`, and `OTHER`.",
                                    "type": "string",
                                    "enum": [
                                      "HOMEPAGE",
                                      "CATEGORY",
                                      "PRODUCT",
                                      "CART",
                                      "OTHER"
                                    ],
                                    "example": "HOMEPAGE"
                                  },
                                  "data": {
                                    "description": "Additional data for non-homepage pages: The SKU for a `PRODUCT` page, the category for a `CATEGORY` page, SKUs for the `CART` page, and the page ID in `OTHER`. Learn more about [page context data](https://dy.dev/docs/page-context#localization-in-page-context).",
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "example": [
                                      "p76311-020"
                                    ]
                                  },
                                  "location": {
                                    "description": "The current location. URL (for web), location (for SPA), or screen name (for mobile apps). Enables targeting the current page/screen.",
                                    "type": "string",
                                    "example": "https://shop.biz/nice-shirt-p76311.html"
                                  },
                                  "referrer": {
                                    "description": "The previous location. URL (for web), location (for SPA), or screen name (for mobile apps). Enables targeting the previous page/screen.",
                                    "type": "string",
                                    "example": "https://google.cz"
                                  },
                                  "locale": {
                                    "description": "Page locale code, such as `en_US`. Learn more about [using country codes for locale](https://dy.dev/docs/page-context#localization-in-page-context).",
                                    "type": "string",
                                    "example": "en_US"
                                  }
                                },
                                "required": [
                                  "type",
                                  "location"
                                ]
                              },
                              "device": {
                                "description": "Data for the served device.",
                                "type": "object",
                                "properties": {
                                  "userAgent": {
                                    "description": "For web clients, the browser user-agent string. If not passed, the API gateway checks for the header in the HTTPS request.",
                                    "type": "string",
                                    "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36"
                                  },
                                  "type": {
                                    "description": "Use when the user agent isn't available. Valid values are:<br>`DESKTOP`, `SMARTPHONE`, `TABLET`, `KIOSK`",
                                    "type": "string",
                                    "enum": [
                                      "DESKTOP",
                                      "SMARTPHONE",
                                      "TABLET",
                                      "KIOSK"
                                    ]
                                  },
                                  "browser": {
                                    "description": "Use when the user agent isn't available. Valid values are:<br>`Chrome`, `Firefox`, `Opera`, `Safari`, `Other`",
                                    "type": "string",
                                    "enum": [
                                      "Chrome",
                                      "Firefox",
                                      "Opera",
                                      "Safari",
                                      "Other"
                                    ],
                                    "example": "Firefox"
                                  },
                                  "ip": {
                                    "description": "The client IP address, for geolocation-based targeting and audience building. If not passed, the caller IP is used.",
                                    "type": "string",
                                    "example": "54.100.200.255"
                                  },
                                  "dateTime": {
                                    "description": "Date & time in ISO 8601 format: YYYY-MM-DDThh:mm:ss.sss±hh:mm (with local time zone).",
                                    "type": "string",
                                    "example": "2024-01-01T22:30:00.000-05:00"
                                  }
                                }
                              },
                              "channel": {
                                "description": "Report and monitor each channel’s Experience API implementation. The channel corresponds to the Experience OS app used (`WEB` or `APP`), and the values are available for filtering in the API logs.",
                                "type": "string",
                                "enum": [
                                  "WEB",
                                  "APP"
                                ]
                              },
                              "pageAttributes": {
                                "description": "Pass key-value pairs you want to use for targeting in this campaign. **The value must exactly match the value in the campaign targeting condition, and is case sensitive.** This data is not stored and cannot be used for creating audiences. Values can be strings or numbers.",
                                "type": "object",
                                "additionalProperties": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    }
                                  ]
                                }
                              },
                              "listedItems": {
                                "description": "List of SKUs to sort on PLP. Use only for Sorting Optimizer campaigns.",
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "example": [
                                  "SKU1",
                                  "SKU2"
                                ]
                              },
                              "branch": {
                                "description": "The branch where the user experience is taking place.",
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "description": "The branch's unique identifier.",
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id"
                                ]
                              }
                            },
                            "required": [
                              "page",
                              "device"
                            ]
                          },
                          "selector": {
                            "title": "Selector",
                            "description": "Campaigns to choose variations for.",
                            "type": "object",
                            "properties": {
                              "names": {
                                "description": "The list of selectors that are eligible for this page. A selector represents a technical name for a campaign. Learn more about [using selectors in your campaigns](https://dy.dev/docs/choose#recommended-use).",
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "example": [
                                  "Banner Main",
                                  "German Banner",
                                  "PDP Recs Tray"
                                ]
                              },
                              "groups": {
                                "description": "Call a group of selectors instead of listing each selector individually. Learn more about working with [selector groups](https://dy.dev/docs/selector-groups).",
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "preview": {
                                "description": "Campaigns to generate previews for. [Learn more about enabling preview mode](https://dy.dev/docs/preview-api-web#enabling-preview-mode).",
                                "type": "object",
                                "properties": {
                                  "ids": {
                                    "description": "Array of preview tokens, as provided in the `dyApiPreview` URL parameter. [Learn more about enabling preview mode](https://dy.dev/docs/preview-api-web#enabling-preview-mode).",
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "required": [
                                  "ids"
                                ]
                              },
                              "args": {
                                "description": "Real-time filters for recommendation results, based on data obtained within the session. Learn more about working with [real-time filters](https://dy.dev/docs/return-real-time-filter-data).",
                                "type": "object",
                                "additionalProperties": {
                                  "description": "Real-time filter for a single selector. The object key should corresponds to a selector name defined under `selector.names`.",
                                  "type": "object",
                                  "properties": {
                                    "realtimeRules": {
                                      "description": "A list of realtime filtering rules.",
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "description": "Valid values are: `include`, `exclude`.",
                                            "type": "string",
                                            "enum": [
                                              "include",
                                              "exclude"
                                            ]
                                          },
                                          "slots": {
                                            "description": "All or specific slot positions. The first slot is in position 0.",
                                            "type": "array",
                                            "items": {
                                              "type": "integer"
                                            }
                                          },
                                          "query": {
                                            "description": "The filtering query.",
                                            "type": "object",
                                            "properties": {
                                              "conditions": {
                                                "description": "The realtime rule's query conditions.",
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "field": {
                                                      "description": "Field within the returned results to apply the query for.",
                                                      "type": "string",
                                                      "example": "categories"
                                                    },
                                                    "arguments": {
                                                      "description": "A list of arguments for a query condition.",
                                                      "type": "array",
                                                      "items": {
                                                        "type": "object",
                                                        "properties": {
                                                          "action": {
                                                            "description": "Condition types for filtering recommendations. Valid values are:<ul>`IS` - string or boolean<br>`IS_NOT` - string<br>`CONTAINS` - A filtering rule may contain up to 10 queries of this type<br>`EQ`, `GT`, `GTE`, `LT`, `LTE` - number only",
                                                            "type": "string",
                                                            "enum": [
                                                              "IS",
                                                              "IS_NOT",
                                                              "CONTAINS",
                                                              "EQ",
                                                              "GT",
                                                              "GTE",
                                                              "LT",
                                                              "LTE"
                                                            ]
                                                          },
                                                          "value": {
                                                            "description": "Parameter for filter value by condition. Regular expressions are not supported for real-time filters (can and should be added as additional conditions to the filter).",
                                                            "example": "basketball"
                                                          }
                                                        },
                                                        "required": [
                                                          "action",
                                                          "value"
                                                        ]
                                                      }
                                                    }
                                                  },
                                                  "required": [
                                                    "field",
                                                    "arguments"
                                                  ]
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "required": [
                              "names"
                            ]
                          },
                          "options": {
                            "title": "Options",
                            "description": "Request configuration parameters.",
                            "type": "object",
                            "properties": {
                              "isImplicitPageview": {
                                "description": "Determine whether to report a new pageview with the given context. Default is `false`. Set to `true` to report a new pageview with the given context. Keep as `false` if the Dynamic Yield script is implemented on the page. It reports the new pageview from the browser.",
                                "type": "boolean",
                                "default": false
                              },
                              "returnAnalyticsMetadata": {
                                "description": "Set to `true` to return additional metadata (display names & IDs for all entities) for reporting to analytics tools.",
                                "type": "boolean",
                                "default": false
                              },
                              "isImplicitImpressionMode": {
                                "description": "Report an impression of the chosen variation. This is set to `true` by default, which means that the user's impression of the variation is reported immediately when the variation is chosen. Pass this as `false` to report the impression explicitly in an [Engagement](https://dy.dev/docs/engagement#types-of-engagement) call.",
                                "type": "boolean",
                                "default": true
                              },
                              "isImplicitClientData": {
                                "description": "For APIs called from the client-side only. When set to `true`, this acts as a fallback if the IP address or user agent isn't sent explicitly. Takes the values from the request header.",
                                "type": "boolean",
                                "default": false
                              },
                              "recsProductData": {
                                "description": "You can use *either* the `fieldFilter` param to ask for specific attributes from the feed, *or* the `skusOnly` param to to fetch only the SKUs.",
                                "type": "object",
                                "properties": {
                                  "fieldFilter": {
                                    "description": "Specify the fields you need in the recommendation campaign response by using the `fieldFilter` parameter. Simply send an array of strings of the relevant fields, and only those fields and values are sent back.",
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "skusOnly": {
                                    "description": "To reduce the size of the response, you can limit it so that it only includes the SKUs.",
                                    "type": "boolean"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "required": [
                          "user",
                          "session",
                          "context",
                          "selector"
                        ]
                      }
                    ]
                  },
                  {
                    "title": "Choose Request - Restaurants",
                    "type": "object",
                    "properties": {
                      "user": {
                        "oneOf": [
                          {
                            "title": "User (sharedDevice: true)",
                            "description": "User ID. A Dynamic Yield-generated identifier is used, and managed via cookies. For a new user, send this object empty.",
                            "type": "object",
                            "properties": {
                              "sharedDevice": {
                                "description": "Set to `true` for transactions done on a shared device in a branch (always `true` for kiosk and ODMB).",
                                "type": "boolean",
                                "default": true
                              },
                              "cuid": {
                                "description": "User identifier value. Required for identified user flows.",
                                "type": "string"
                              },
                              "cuidType": {
                                "description": "Use this identifier type to identify users across devices (for example, `customer_id`, `account_id`, or `he` for SHA-256 hashed email).<br>**Note: Do not include any personal information in this ID.**<br>Required for identified user flows.",
                                "type": "string"
                              }
                            },
                            "required": [
                              "sharedDevice"
                            ]
                          },
                          {
                            "allOf": [
                              {
                                "title": "User (sharedDevice: false)"
                              },
                              {
                                "title": "User",
                                "description": "User ID. A Dynamic Yield-generated identifier is used, and managed via cookies. For a new user, send this object empty.",
                                "type": "object",
                                "properties": {
                                  "dyid": {
                                    "description": "The _dyid cookie value. The user ID assigned to visitors by Dynamic Yield. For a new user, send this param empty. Learn more about the [user ID](https://dy.dev/docs/experience-api-basics#user-id).",
                                    "type": "string"
                                  },
                                  "dyid_server": {
                                    "description": "The _dyid cookie value. The user ID assigned to visitors by Dynamic Yield. For a new user, send this param empty. Learn more about the [user ID](https://dy.dev/docs/experience-api-basics#user-id).",
                                    "type": "string"
                                  },
                                  "active_consent_accepted": {
                                    "description": "Add this attribute only if [active cookie consent](https://dy.dev/docs/active-cookie-consent) is enabled. Set to `true` if user gave consent for cookies.",
                                    "type": "boolean",
                                    "default": false
                                  }
                                }
                              },
                              {
                                "properties": {
                                  "sharedDevice": {
                                    "description": "Set to `false` for transactions made on personal devices.",
                                    "type": "boolean",
                                    "default": false
                                  }
                                }
                              }
                            ],
                            "required": [
                              "sharedDevice"
                            ]
                          }
                        ]
                      },
                      "session": {
                        "title": "Session",
                        "description": "Session ID. A Dynamic Yield-generated identifier is used. For new sessions, send this object empty.",
                        "type": "object",
                        "properties": {
                          "dy": {
                            "description": "Pass the value of the `_dyjsession` cookie if it exists. Otherwise, a new session identifier will be created by Dynamic Yield and returned in the response.",
                            "type": "string"
                          }
                        }
                      },
                      "context": {
                        "title": "Context",
                        "description": "The request's context.",
                        "type": "object",
                        "properties": {
                          "page": {
                            "description": "Data for the page currently being browsed.",
                            "type": "object",
                            "properties": {
                              "type": {
                                "description": "Page type. Must be upper case. Valid values are:<br>`HOMEPAGE`, `CATEGORY`, `PRODUCT`, `CART`, and `OTHER`.",
                                "type": "string",
                                "enum": [
                                  "HOMEPAGE",
                                  "CATEGORY",
                                  "PRODUCT",
                                  "CART",
                                  "OTHER"
                                ],
                                "example": "HOMEPAGE"
                              },
                              "data": {
                                "description": "Additional data for non-homepage pages: The SKU for a `PRODUCT` page, the category for a `CATEGORY` page, SKUs for the `CART` page, and the page ID in `OTHER`. Learn more about [page context data](https://dy.dev/docs/page-context#localization-in-page-context).",
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "example": [
                                  "p76311-020"
                                ]
                              },
                              "location": {
                                "description": "The current location. URL (for web), location (for SPA), or screen name (for mobile apps). Enables targeting the current page/screen.",
                                "type": "string",
                                "example": "https://shop.biz/nice-shirt-p76311.html"
                              },
                              "referrer": {
                                "description": "The previous location. URL (for web), location (for SPA), or screen name (for mobile apps). Enables targeting the previous page/screen.",
                                "type": "string",
                                "example": "https://google.cz"
                              },
                              "locale": {
                                "description": "Page locale code, such as `en_US`. Learn more about [using country codes for locale](https://dy.dev/docs/page-context#localization-in-page-context).",
                                "type": "string",
                                "example": "en_US"
                              }
                            },
                            "required": [
                              "type",
                              "location"
                            ]
                          },
                          "device": {
                            "description": "Data for the served device.",
                            "type": "object",
                            "properties": {
                              "userAgent": {
                                "description": "For web clients, the browser user-agent string. If not passed, the API gateway checks for the header in the HTTPS request.",
                                "type": "string",
                                "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36"
                              },
                              "type": {
                                "description": "Use when the user agent isn't available. Valid values are:<br>`DESKTOP`, `SMARTPHONE`, `TABLET`, `KIOSK`, `ODMB`",
                                "type": "string",
                                "enum": [
                                  "DESKTOP",
                                  "SMARTPHONE",
                                  "TABLET",
                                  "KIOSK",
                                  "ODMB"
                                ]
                              },
                              "browser": {
                                "description": "Use when the user agent isn't available. Valid values are:<br>`Chrome`, `Firefox`, `Opera`, `Safari`, `Other`",
                                "type": "string",
                                "enum": [
                                  "Chrome",
                                  "Firefox",
                                  "Opera",
                                  "Safari",
                                  "Other"
                                ],
                                "example": "Firefox"
                              },
                              "ip": {
                                "description": "The client IP address, for geolocation-based targeting and audience building. If not passed, the caller IP is used.",
                                "type": "string",
                                "example": "54.100.200.255"
                              },
                              "dateTime": {
                                "description": "Date & time in ISO 8601 format: YYYY-MM-DDThh:mm:ss.sss±hh:mm (with local time zone).",
                                "type": "string",
                                "example": "2024-01-01T22:30:00.000-05:00"
                              },
                              "id": {
                                "description": "The identifier of the device in the branch.",
                                "type": "string"
                              }
                            },
                            "required": [
                              "dateTime",
                              "type"
                            ]
                          },
                          "branch": {
                            "description": "Use to recommend only items in stock at the branch the user is browsing.",
                            "type": "object",
                            "properties": {
                              "id": {
                                "description": "The ID of the branch the recommendation is for.",
                                "type": "string"
                              },
                              "dayPart": {
                                "description": "Define the period of the day the request ralates to. Possible values are those used in the Product Catalog.",
                                "type": "string",
                                "enum": [
                                  "BREAKFAST",
                                  "LUNCH",
                                  "DINNER",
                                  "LATENIGHT"
                                ]
                              },
                              "orderFulfillment": {
                                "description": "The fulfillment type of the order the request relates to.",
                                "type": "string",
                                "enum": [
                                  "DELIVERY",
                                  "PICKUP",
                                  "DINEIN",
                                  "CURBSIDE"
                                ]
                              }
                            },
                            "required": [
                              "dayPart"
                            ]
                          },
                          "channel": {
                            "description": "Report and monitor each channel's experience API implementation. Channels correspond to the Experience OS app used. Available channels: `WEB`, `APP`, `KIOSK`, `DRIVE-THRU`",
                            "type": "string",
                            "enum": [
                              "WEB",
                              "APP",
                              "KIOSK",
                              "DRIVE-THRU"
                            ]
                          },
                          "cart": {
                            "description": "Personalize campaigns based on cart state.<br>**Required when basket-based strategies and rules are being used.**",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "productId": {
                                  "description": "The product ID from the restaurant product catalog.",
                                  "type": "string"
                                },
                                "quantity": {
                                  "description": "Number of items.",
                                  "type": "number"
                                },
                                "itemPrice": {
                                  "description": "unit.cents format using the section default currency.",
                                  "type": "number",
                                  "example": 23.99
                                },
                                "innerProducts": {
                                  "description": "Indicate any inner products within the main product (for example, the individual products that make up a meal, or any extras/toppings). All inner products are listed at the same hierarchical level, even if they are a component of a component (say, extra cheese on a sandwich that is part of a meal).",
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "productId": {
                                        "description": "The product ID from the restaurant product catalog.",
                                        "type": "string"
                                      },
                                      "quantity": {
                                        "description": "Number of items.",
                                        "type": "number"
                                      },
                                      "itemPrice": {
                                        "description": "unit.cents format using the section default currency.",
                                        "type": "number",
                                        "example": 23.99
                                      }
                                    },
                                    "required": [
                                      "productId"
                                    ]
                                  }
                                }
                              },
                              "required": [
                                "productId"
                              ]
                            }
                          },
                          "pageAttributes": {
                            "description": "Pass key-value pairs you want to use for targeting in this campaign. **The value must exactly match the value in the campaign targeting condition, and is case sensitive.** This data is not stored and cannot be used for creating audiences. Values can be strings or numbers.",
                            "type": "object",
                            "additionalProperties": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "number"
                                }
                              ]
                            }
                          }
                        },
                        "required": [
                          "branch",
                          "channel"
                        ]
                      },
                      "selector": {
                        "title": "Selector",
                        "description": "Campaigns to choose variations for.",
                        "type": "object",
                        "properties": {
                          "names": {
                            "description": "The list of selectors that are eligible for this page. A selector represents a technical name for a campaign. Learn more about [using selectors in your campaigns](https://dy.dev/docs/choose#recommended-use).",
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "Banner Main",
                              "German Banner",
                              "PDP Recs Tray"
                            ]
                          },
                          "groups": {
                            "description": "Call a group of selectors instead of listing each selector individually. Learn more about working with [selector groups](https://dy.dev/docs/selector-groups).",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "preview": {
                            "description": "Campaigns to generate previews for. [Learn more about enabling preview mode](https://dy.dev/docs/preview-api-web#enabling-preview-mode).",
                            "type": "object",
                            "properties": {
                              "ids": {
                                "description": "Array of preview tokens, as provided in the `dyApiPreview` URL parameter. [Learn more about enabling preview mode](https://dy.dev/docs/preview-api-web#enabling-preview-mode).",
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "required": [
                              "ids"
                            ]
                          },
                          "args": {
                            "description": "Real-time filters for recommendation results, based on data obtained within the session. Learn more about working with [real-time filters](https://dy.dev/docs/return-real-time-filter-data).",
                            "type": "object",
                            "additionalProperties": {
                              "description": "Real-time filter for a single selector. The object key should corresponds to a selector name defined under `selector.names`.",
                              "type": "object",
                              "properties": {
                                "realtimeRules": {
                                  "description": "A list of realtime filtering rules.",
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "description": "Valid values are: `include`, `exclude`.",
                                        "type": "string",
                                        "enum": [
                                          "include",
                                          "exclude"
                                        ]
                                      },
                                      "slots": {
                                        "description": "All or specific slot positions. The first slot is in position 0.",
                                        "type": "array",
                                        "items": {
                                          "type": "integer"
                                        }
                                      },
                                      "query": {
                                        "description": "The filtering query.",
                                        "type": "object",
                                        "properties": {
                                          "conditions": {
                                            "description": "The realtime rule's query conditions.",
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "field": {
                                                  "description": "Field within the returned results to apply the query for.",
                                                  "type": "string",
                                                  "example": "categories"
                                                },
                                                "arguments": {
                                                  "description": "A list of arguments for a query condition.",
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "properties": {
                                                      "action": {
                                                        "description": "Condition types for filtering recommendations. Valid values are:<ul>`IS` - string or boolean<br>`IS_NOT` - string<br>`CONTAINS` - A filtering rule may contain up to 10 queries of this type<br>`EQ`, `GT`, `GTE`, `LT`, `LTE` - number only",
                                                        "type": "string",
                                                        "enum": [
                                                          "IS",
                                                          "IS_NOT",
                                                          "CONTAINS",
                                                          "EQ",
                                                          "GT",
                                                          "GTE",
                                                          "LT",
                                                          "LTE"
                                                        ]
                                                      },
                                                      "value": {
                                                        "description": "Parameter for filter value by condition. Regular expressions are not supported for real-time filters (can and should be added as additional conditions to the filter).",
                                                        "example": "basketball"
                                                      }
                                                    },
                                                    "required": [
                                                      "action",
                                                      "value"
                                                    ]
                                                  }
                                                }
                                              },
                                              "required": [
                                                "field",
                                                "arguments"
                                              ]
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "required": [
                          "names"
                        ]
                      },
                      "options": {
                        "title": "Options",
                        "description": "Request configuration parameters.",
                        "type": "object",
                        "properties": {
                          "isImplicitPageview": {
                            "description": "Determine whether to report a new pageview with the given context. Default is `false`. Set to `true` to report a new pageview with the given context. Keep as `false` if the Dynamic Yield script is implemented on the page. It reports the new pageview from the browser.",
                            "type": "boolean",
                            "default": false
                          },
                          "returnAnalyticsMetadata": {
                            "description": "Set to `true` to return additional metadata (display names & IDs for all entities) for reporting to analytics tools.",
                            "type": "boolean",
                            "default": false
                          },
                          "isImplicitImpressionMode": {
                            "description": "Report an impression of the chosen variation. For Restaurants, this is set to `false` by default, which means that impressions should be reported explicitly in an [Engagement](https://dy.dev/docs/engagement#types-of-engagement) call. Pass this as `true` in case the user's impression of the variation should be reported immediately when the variation is chosen.",
                            "type": "boolean",
                            "default": false
                          },
                          "isImplicitClientData": {
                            "description": "For APIs called from the client-side only. When set to `true`, this acts as a fallback if the IP address or user agent isn't sent explicitly. Takes the values from the request header.",
                            "type": "boolean",
                            "default": false
                          },
                          "recsProductData": {
                            "description": "You can use *either* the `fieldFilter` param to ask for specific attributes from the feed, *or* the `skusOnly` param to to fetch only the SKUs.",
                            "type": "object",
                            "properties": {
                              "fieldFilter": {
                                "description": "Specify the fields you need in the recommendation campaign response by using the `fieldFilter` parameter. Simply send an array of strings of the relevant fields, and only those fields and values are sent back.",
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "skusOnly": {
                                "description": "To reduce the size of the response, you can limit it so that it only includes the SKUs.",
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "user",
                      "session",
                      "context",
                      "selector"
                    ]
                  }
                ]
              },
              "examples": {
                "ChooseRequestExample": {
                  "value": {
                    "user": {
                      "dyid": "-4350463893986789401",
                      "dyid_server": "-4350463893986789401"
                    },
                    "session": {
                      "dy": "ohyr6v42l9zd4bpinnvp7urjjx9lrssw"
                    },
                    "selector": {
                      "names": [
                        "PDP Top Banner",
                        "PDP Recs"
                      ]
                    },
                    "context": {
                      "page": {
                        "type": "PRODUCT",
                        "data": [
                          "7383723-010"
                        ],
                        "location": "<https://sugoi-ne.com/men-pants/p7383723-010>",
                        "referrer": "<https://sugoi-ne.com/men-pants>",
                        "locale": "en_US"
                      },
                      "device": {
                        "userAgent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36",
                        "ip": "54.100.200.255"
                      },
                      "pageAttributes": {
                        "customPageAttribute": "someValue"
                      }
                    },
                    "options": {
                      "isImplicitPageview": false
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Variation chosen successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Choice",
                  "type": "object",
                  "properties": {
                    "choices": {
                      "description": "The chosen variation for each campaign.",
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "title": "type: DECISION",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "default": "DECISION",
                                "pattern": "DECISION"
                              },
                              "variations": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "number"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "payload": {
                                      "oneOf": [
                                        {
                                          "title": "Payload",
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "default": "CUSTOM_JSON",
                                              "pattern": "CUSTOM_JSON"
                                            },
                                            "data": {
                                              "type": "object"
                                            }
                                          }
                                        },
                                        {
                                          "title": "Control Group Payload",
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "default": "CUSTOM_JSON_CONTROL_GROUP_VARIATION",
                                              "pattern": "CUSTOM_JSON_CONTROL_GROUP_VARIATION"
                                            }
                                          }
                                        }
                                      ]
                                    },
                                    "analyticsMetadata": {
                                      "type": "object",
                                      "properties": {
                                        "campaignId": {
                                          "type": "number"
                                        },
                                        "campaignName": {
                                          "type": "string"
                                        },
                                        "experienceId": {
                                          "type": "number"
                                        },
                                        "experienceName": {
                                          "type": "string"
                                        },
                                        "variationId": {
                                          "type": "number"
                                        },
                                        "variationName": {
                                          "type": "string",
                                          "description": "The name of the variation as appears in the DY Admin or \"Control Group Variation\""
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "groups": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "decisionId": {
                                "type": "string"
                              },
                              "allocationGroup": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "title": "type: RECS_DECISION",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "default": "RECS_DECISION",
                                "pattern": "RECS_DECISION"
                              },
                              "variations": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "number"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "payload": {
                                      "oneOf": [
                                        {
                                          "title": "Payload",
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "default": "RECS",
                                              "pattern": "RECS"
                                            },
                                            "data": {
                                              "type": "object",
                                              "properties": {
                                                "custom": {
                                                  "type": "object"
                                                },
                                                "slots": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "properties": {
                                                      "sku": {
                                                        "type": "string"
                                                      },
                                                      "slotId": {
                                                        "type": "string"
                                                      },
                                                      "productData": {
                                                        "type": "object"
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        },
                                        {
                                          "title": "Control Group Payload",
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "default": "RECS_CONTROL_GROUP_VARIATION",
                                              "pattern": "RECS_CONTROL_GROUP_VARIATION"
                                            }
                                          }
                                        }
                                      ]
                                    },
                                    "analyticsMetadata": {
                                      "type": "object",
                                      "properties": {
                                        "campaignId": {
                                          "type": "number"
                                        },
                                        "campaignName": {
                                          "type": "string"
                                        },
                                        "experienceId": {
                                          "type": "number"
                                        },
                                        "experienceName": {
                                          "type": "string"
                                        },
                                        "variationId": {
                                          "type": "number"
                                        },
                                        "variationName": {
                                          "type": "string",
                                          "description": "The name of the variation as appears in the DY Admin or \"Control Group Variation\""
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "groups": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "decisionId": {
                                "type": "string"
                              },
                              "allocationGroup": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "title": "type: STORE_RECS_DECISION",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "default": "STORE_RECS_DECISION",
                                "pattern": "STORE_RECS_DECISION"
                              },
                              "variations": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "number"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "payload": {
                                      "oneOf": [
                                        {
                                          "title": "Payload",
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "default": "STORE_RECS",
                                              "pattern": "STORE_RECS"
                                            },
                                            "data": {
                                              "type": "object"
                                            }
                                          }
                                        },
                                        {
                                          "title": "Control Group Payload",
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "default": "STORE_RECS_CONTROL_GROUP_VARIATION",
                                              "pattern": "STORE_RECS_CONTROL_GROUP_VARIATION"
                                            }
                                          }
                                        }
                                      ]
                                    },
                                    "analyticsMetadata": {
                                      "type": "object",
                                      "properties": {
                                        "campaignId": {
                                          "type": "number"
                                        },
                                        "campaignName": {
                                          "type": "string"
                                        },
                                        "experienceId": {
                                          "type": "number"
                                        },
                                        "experienceName": {
                                          "type": "string"
                                        },
                                        "variationId": {
                                          "type": "number"
                                        },
                                        "variationName": {
                                          "type": "string",
                                          "description": "The name of the variation as appears in the DY Admin or \"Control Group Variation\""
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "groups": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "decisionId": {
                                "type": "string"
                              },
                              "allocationGroup": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "title": "type: SORTING_DECISION",
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "type": {
                                "type": "string",
                                "default": "SORTING_DECISION",
                                "pattern": "SORTING_DECISION"
                              },
                              "decisionId": {
                                "type": "string"
                              },
                              "variations": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "number"
                                    },
                                    "payload": {
                                      "oneOf": [
                                        {
                                          "title": "Payload",
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "default": "SORT",
                                              "pattern": "SORT"
                                            },
                                            "data": {
                                              "type": "object",
                                              "properties": {
                                                "slots": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "properties": {
                                                      "sku": {
                                                        "type": "string"
                                                      },
                                                      "slotId": {
                                                        "type": "string"
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        },
                                        {
                                          "title": "Control Group Payload",
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "default": "SORT_CONTROL_GROUP_VARIATION",
                                              "pattern": "SORT_CONTROL_GROUP_VARIATION"
                                            }
                                          }
                                        }
                                      ]
                                    },
                                    "analyticsMetadata": {
                                      "type": "object",
                                      "properties": {
                                        "campaignId": {
                                          "type": "number"
                                        },
                                        "campaignName": {
                                          "type": "string"
                                        },
                                        "experienceId": {
                                          "type": "number"
                                        },
[...]
